<!DOCTYPE html> 
<html class=""> 
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="renderer" content="webkit">
  <block name="title"><title>  首页 -记录生活,感受美好-Powered By tsj  </title></block>
  <block name="keywords"><meta name="keywords" content="记录生活 IT知识 ThinkPhp mysql php bootstrap react" /></block>
  <block name="description"> <meta name="description" content="每天记录一点，成长一点，全栈工程师之路" /> </block>

<block name="link">
	  <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet" />
	  <link href="__PUBLIC__/css/index.css" rel="stylesheet" />   
</block>
<block name='script'>
	  <!--[if lt IE 9]>
	    <script src="__PUBLIC__/js/html5shiv.js"></script>
	  <![endif]-->
	  <!--[if IE 8]>
	    <script src="__PUBLIC__/js/respond.js"></script>
	  <![endif]--> 
	<script src="__PUBLIC__/js/jquery.js"></script>
	<script src="__PUBLIC__/js/bootstrap.js"></script>
</block>
</head>
	<body>
		<block name="main">
			
		</block>
	</body>
</html>